<!DOCTYPE html>
<head>
  <title>Harvard Dining Menu | Hungry</title>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100' rel='stylesheet' type='text/css'>
  <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
  <link href="stylesheets/hungry.css" rel="stylesheet">

  <meta property="og:title" content="Harvard Dining Menu | Hungry" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://www.hcs.harvard.edu/~louis/imhungry/" />
  <meta property="og:image" content="http://www.hcs.harvard.edu/~louis/imhungry/img/logo.jpg" />
  <meta property="og:site_name" content="Harvard Dining Menu | Hungry" />
  <meta property="fb:admins" content="100001696373537" />
</head>

<body>
  <a href="https://github.com/louisrli/hungrier"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>

  <div class="container pagination-centered">
    <div class="row">
      <div class="span12">
        <div class="page-header">
          <h1>hungry</h1>
        </div>
        <div id="food-menu">
          <div class="loading">Loading...</div>

          <div class="spinner"></div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="span12 facebook-like">
        <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.hcs.harvard.edu%2F%7Elouis%2Fimhungry%2F&amp;send=false&amp;layout=standard&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=35&amp;appId=387983267891183" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:35px;" allowTransparency="true"></iframe>
      </div>
    </div>


  </div>

  <!-- Marionette templates -->
  <script id="meal-menu" type="text/html">
    <h1><%- meal %> <%- type %></h1>
    <ul>
    </ul>
  </script>

  <script id="entree-item" type="text/html">
    <%- name %>
  </script>

  <script id="empty-menu" type="text/html">
    It seems like either the dining halls are closed, or there's currently an issue getting information from the dining halls. Check back another time!
  </script>

  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script type="text/javascript" src="application.min.js"></script>
</body>


